<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<table>
<tr>
<td><app-first></app-first></td>
<td></td>
<td><app-product></app-product></td>
</tr>
<tr>
  <td>
    <app-product-list></app-product-list>
  </td>
  <td></td>
  <td></td>
  <td><app-cart></app-cart></td>
</tr>

</table>




<router-outlet></router-outlet>