<p><b>Products:</b></p>
<div class="panel-body">
    <ul>
      <li *ngFor="let p of products">
        <ul>
          <li>Name: {{p.name}}</li>
          <li>Description: {{p.description}}</li>
          <li>Price: {{p.price}}</li>
          <li>Availability: {{p.isAvailable}}</li>
        </ul>
        <br>
      </li>
    </ul>
</div>

